<a href="https://colab.research.google.com/github/ericyun95/dacon_bookrecsys/blob/main/dacon_test_0505.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import files

In [3]:
files.upload();

Saving test.csv to test.csv

In [5]:
df = pd.read_csv('train_new3.csv')
df.head()

,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0,44368,8.0,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,0,81205,8.0,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,0,86781,NaN,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,0,98622,NaN,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,0,180810,8.0,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

In [ ]:
train_columns = df.columns
print(train_columns)

Index(['User-ID', 'Book-ID', 'Book-Rating', 'Age', 'Location', 'Book-Title',
       'Book-Author', 'Year-Of-Publication', 'Publisher'],
      dtype='object')

이거 보니까 평점 매긴 이벤트별로 나눠져있다.  
### 유저-평점 테이블로 나눠야 할듯  
(이걸로 svd 먼저 해보는것도 가능)  
        
      

     
그리고  
### 유저 데이터 - 나이 , 지역  
### 아이템 데이터 - 제목, 저자, 연도, 출판사  
이렇게 돼 있는데, 이걸 삽입해서 어떻게 딥러닝쪽으로 넣은 다음  
하이퍼 파라미터 조정해서 gridsearch 겁나 돌려야겠다

In [6]:
new_df = df[['User-ID', 'Book-ID', 'Book-Rating']]
new_df.head()

   User-ID  Book-ID  Book-Rating
0        0    44368          8.0
1        0    81205          8.0
2        0    86781          NaN
3        0    98622          NaN
4        0   180810          8.0

In [ ]:
df['User-ID'].unique()

array(['USER_00000', 'USER_00001', 'USER_00002', ..., 'USER_92098',
       'USER_92099', 'USER_92100'], dtype=object)

In [ ]:
df['Book-ID'].unique()

array(['BOOK_044368', 'BOOK_081205', 'BOOK_086781', ..., 'BOOK_265220',
       'BOOK_266941', 'BOOK_130798'], dtype=object)

In [ ]:
df['User-ID'] = df['User-ID'].str[-5:]
df['Book-ID'] = df['Book-ID'].str[-6:]
df.head()

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,TRAIN_000000,00000,044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,TRAIN_000001,00000,081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,TRAIN_000002,00000,086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,TRAIN_000003,00000,098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,TRAIN_000004,00000,180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

In [ ]:
df['ID'] = df['ID'].str[-6:]
df.head()

,ID,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,000000,00000,044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,000001,00000,081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,000002,00000,086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,000003,00000,098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,000004,00000,180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

In [ ]:
df = df.drop(columns = 'ID')
df.head()

,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,00000,044368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,00000,081205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,00000,086781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,00000,098622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,00000,180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

In [ ]:
df.to_csv('train_new2.csv', index=False)

In [ ]:
df_part = df[:100]

In [ ]:
df_part['Location'].unique

<bound method Series.unique of 0          sackville, new brunswick, canada
1          sackville, new brunswick, canada
2          sackville, new brunswick, canada
3          sackville, new brunswick, canada
4          sackville, new brunswick, canada
                      ...
95    wiesloch, baden-wuerttemberg, germany
96                 alameda, california, usa
97                bellevue, washington, usa
98                  munich, bayern, germany
99                  munich, bayern, germany
Name: Location, Length: 100, dtype: object>

로케이션 세개로 쪼개야겠다

In [ ]:
df_part['Book-Title'][95]

'Vogelbeerbaum. AusgewÃ?Â¤hlte Gedichte.'

In [ ]:
df_simple = df[['User-ID', 'Book-ID', 'Book-Rating']]
df_simple.head()

   User-ID  Book-ID  Book-Rating
0        0    44368            8
1        0    81205            8
2        0    86781            0
3        0    98622            0
4        0   180810            8

In [ ]:
rating = df_simple.pivot(index = "User-ID", columns = 'Book-ID', values = 'Book-Rating')
rating.head()

<ipython-input-7-4a1870d12225>:1: PerformanceWarning: The following operation may generate 20267923896 cells in the resulting pandas object.
  rating = df_simple.pivot(index = "User-ID", columns = 'Book-ID', values = 'Book-Rating')

한번에 피벗하면 에러남

In [ ]:
df.head()

,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0,44368,8,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,0,81205,8,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,0,86781,0,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,0,98622,0,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,0,180810,8,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

In [ ]:
df['Book-Rating'].replace(0, np.nan, inplace = True)

In [ ]:
df.head()

,User-ID,Book-ID,Book-Rating,Age,Location,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0,44368,8.0,23.0,"sackville, new brunswick, canada",Road Taken,Rona Jaffe,2001.0,Mira
1,0,81205,8.0,23.0,"sackville, new brunswick, canada",Macbeth (New Penguin Shakespeare),William Shakespeare,1981.0,Penguin Books
2,0,86781,NaN,23.0,"sackville, new brunswick, canada",Waverley (Penguin English Library),Walter Scott,1981.0,Penguin Books
3,0,98622,NaN,23.0,"sackville, new brunswick, canada",Mother Earth Father Sky,Sue Harrison,1991.0,Avon
4,0,180810,8.0,23.0,"sackville, new brunswick, canada",She Who Remembers,Linda Lay Shuler,1989.0,Signet Book

In [ ]:
df.to_csv('train_new3.csv', index=False)

In [8]:
new_df.shape

(871393, 3)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
rating_train, rating_test = train_test_split(new_df, test_size = 0.2)
rating_train = rating_train.reset_index()[['User-ID', 'Book-ID', 'Book-Rating']]
rating_test = rating_test.reset_index()[['User-ID', 'Book-ID', 'Book-Rating']]

In [11]:
def encode_column(column):
  keys = column.unique()
  key_to_id = {key:idx for idx, key in enumerate(keys)}
  return key_to_id, np.array([key_to_id[x] for x in column]), len(keys)

def encode_df(df):
  book_ids, df['Book-ID'], num_book = encode_column(df['Book-ID'])
  user_ids, df['User-ID'], num_user = encode_column(df['User-ID'])
  return df, num_user, num_book, user_ids, book_ids

In [12]:
rating_df, num_user, num_book, user_ids, book_ids = encode_df(rating_train)
print("Number of Users : ", num_user)
print("Number of Books : ", num_book)
rating_df.head()

Number of Users :  73386
Number of Books :  214377

   User-ID  Book-ID  Book-Rating
0        0        0          NaN
1        1        1          NaN
2        2        2          NaN
3        3        3          NaN
4        4        4          8.0

In [13]:
from scipy import sparse

In [14]:
def create_embeddings(n, K):
  return 10* np.random.random((n, K)) / K

def create_sparse_matrix(df, rows, columns, column_name = 'Book-Rating'):
  return sparse.csc_matrix((df[column_name].values, (df['User-ID'].values, df['Book-ID'].values)), shape = (rows, columns))

In [15]:
Y = create_sparse_matrix(rating_df, num_user, num_book)

In [16]:
Y.todense()

matrix([[nan,  0.,  0., ...,  0.,  0.,  0.],
        [ 0., nan,  0., ...,  0.,  0.,  0.],
        [ 0.,  0., nan, ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [17]:
def predict(df, emb_user, emb_book):
  df['prediction'] = np.sum(np.multiply(emb_book[df['Book-ID']], emb_user[df['User-ID']]), axis = 1)
  return df

In [18]:
lmbda = 0.0002

In [19]:
def cost(df, emb_user, emb_book):
  Y = create_sparse_matrix(df, emb_user.shape[0], emb_book.shape[0])
  predicted = create_sparse_matrix(predict(df, emb_user, emb_book), emb_user.shape[0], emb_book.shape[0], 'prediction')
  return np.sqrt(np.sum((Y-predicted).power(2)/df.shape[0]))